:root {
    --baseColor: #050B27;
    --accentColor: #FF9E72;   
    --baseSecondary: #01051C; 
    --primaryGray: #E4E4E4;
    --secondaryGray: #444444;
    --lightGray: #707070;
    --darkGreen: #121605;
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--baseColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero {
    .social_media {
        display: none;
    }
}
.hero_heading {
    opacity: 1;
    width: 100%;

    img:nth-child(1) {
        display: none;
    }
    img:nth-child(2) {
        margin-left: 50%;
        margin-top: 50px;
        transform: translateX(-50%);
    }
    .my_name {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 2.2rem;
            font-weight: bold;            
        }
        p:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 1px var(--accentColor);
            animation: abtahiFadeIn 1s ease-out forwards;
        }
        p:nth-child(2) {
            color: white;
            animation: tajwarFadeIn 1s ease-out forwards;
        }
    }
    .my_title {
        color: var(--accentColor);
        text-align: center;
        letter-spacing: 0.3rem;
        font-size: .7rem;
        opacity: 0;
        transform: translateX(-20px);
        animation: abtahiFadeIn 1s ease-out 1s forwards;
    }
}
aside {
    position: sticky;
    z-index: 100;
    top: 0;
    nav {
        margin-top: 20px;
        ul {
            
            height: 62px;
            width: 100%;
            background-color: var(--baseSecondary);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            a {
                text-decoration: none;
                color: var(--accentColor);
                letter-spacing: 0.3rem;
                &:hover {
                    border-bottom: 1px solid var(--accentColor);
                }
            }
        }
    }
    .social_media {
        display: none !important;
    }
    .scrollbar {
        display: none;
    }    
}
.email {
    text-align: center;
    input {
        background: none;
        color: white;
        border: none;
        outline: none;
        width: 200px;
        text-align: center;
        pointer-events: none;
    }
    .copy_email {
        padding: .5rem;
        background-color: var(--accentColor);
        width: 60px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        cursor: pointer;
        position: relative;
        .popup {
            content: 'copied';
            display: block;
            position: absolute;
            color: white;
            right: -50%;
            top: -100%;
            background-color: black;
            padding: .3rem;
            padding-right: .5rem;
            padding-left: .5rem;
            border-radius: 10px;
            transform: translate(-100%, 100%);
            scale: .5;
            opacity: 0;
            transition: all .1s linear;
        }
    }
}
.about_me {
    width: 100%;
    background-color: white;
    position: relative;

    .cover_letter {
        text-align: center;
        color: var(--lightGray);
        font-size: 1.3rem;
        padding: 1.3rem;
        padding-top: 1.5rem;
    }
    .my_skills {
        width: 100%;
        letter-spacing: .4rem;
        padding-bottom: 150px;
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .skills_container {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            border: 1px solid black;
            .primary_skills {
                flex: 1;
                h1 {
                    text-align: right;
                    font-size: 1.3rem;
                    font-weight: normal;
                    padding-right: 20px;
                    margin-top: 10px;
                    &:after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 90%;
                        background-color: black;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        margin-left: auto;
                    }
                }
                ul {
                    list-style: none;
                    li {
                        text-align: right;
                        padding-right: 20px;
                    }
                }
            }
            .secondary_skills {
                flex: 1;
                background-color: var(--primaryGray);
                h1 {
                    font-size: 1.3rem;
                    font-weight: normal;
                    padding-right: 20px;
                    margin-top: 10px;
                    text-align: left;
                    padding-left: 20px;
                        &:after {
                            content: '';
                            display: block;
                            height: 1px;
                            width: 90%;
                            background-color: black;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                ul {
                    list-style: none;
                    li {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    .social_media {
        position: absolute;
        width: 58vw;
        display: flex;
        justify-content: space-evenly;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 80%;
        }
    }
}
@media all and (orientation: landscape) and (min-width: 1000px) {    
    aside {
        display: none;   
    }
    .container {
        background-color: white;
        height: 100vh;
        display: flex;
        .hero {
            flex: 1;
            justify-content: center;
            align-items: center;
            position: relative;
            .social_media {
                display: block;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                img {
                    width: 65%;
                    transition: transform .4s ease-out;
                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }
            .hero_heading {
                height: 100%;
                width: 100%;
                .hero_logo {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img:nth-child(1) {
                        display: block;
                        transform: none;
                        margin: 0;
                        height: 40%;
                        transform: translateX(-50px)
                    }
                    img:nth-child(2) {
                        display: none;
                    }
                }
            }
            
            .my_name {
                display: none;
            }
            p {
                display: none;
            }
        }
        .about_me {
            flex: 1;
            background-color: var(--baseColor);
            color: white;
            .iam {
                margin-top: 80px;
                font-size: 3rem;
                margin-left: 40px;
            }
            .my_name {
                display: flex;
                margin-left: 40px;
                p:nth-child(1) {
                    font-size: 5rem;
                    -webkit-text-stroke: 2px var(--accentColor);
                    color: transparent;
                }
                p:nth-child(2) {
                    font-size: 5rem;                    
                    color: white;
                }
            }
            .my_subtitle {
                color: white;
                font-size: 1.5rem;
                margin-left: 40px;
                margin-bottom: 20px;
                padding: 0rem;
                span {
                    font-size: 1.2rem;
                    background-color: var(--accentColor);
                    padding: .2rem;
                    cursor: pointer;
                }
            }
            .cover_letter {
                width: 80%;
                text-align: justify;
                margin-left: 20px;
                margin-bottom: 40px;
            }
            .my_skills {
                display: none;
                position: fixed;
                right: 0px;
                top: 0px;
                width: 500px;
                background-color: white;
                color: black;
                padding: 0;
                transform-origin: 100% 0%;
                .heading {
                    display: none;
                }
                ul {
                    margin-bottom: 10px;
                }

            }
            .social_media {
                display: none;
            }
        }
    }
}
@keyframes abtahiFadeIn
{
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes tajwarFadeIn
{
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}