
:root {
    --baseColor: #050B27;
    --accentColor: #FF9E72;   
    --baseSecondary: #01051C; 
    --primaryGray: #E4E4E4;
    --secondaryGray: #444444;
    --darkGreen: #121605;
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--baseColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.circle_animation {
    display: none;
}
.hero_heading {
    opacity: 1;
    width: 100%;

    img {
        margin-left: 50%;
        margin-top: 50px;
        transform: translateX(-50%);
    }
    .my_name {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 2.2rem;
            font-weight: bold;            
        }
        p:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 1px var(--accentColor);
            animation: abtahiFadeIn 1s ease-out forwards;
        }
        p:nth-child(2) {
            color: white;
            animation: tajwarFadeIn 1s ease-out forwards;
        }
    }
    p:nth-child(3) {
        color: var(--accentColor);
        text-align: center;
        letter-spacing: 0.3rem;
        font-size: .7rem;
        opacity: 0;
        transform: translateX(-20px);
        animation: abtahiFadeIn 1s ease-out 1s forwards;
    }
}
aside {
    position: sticky;
    z-index: 100;
    top: 0;
    nav {
        margin-top: 20px;
        ul {
            
            height: 62px;
            width: 100%;
            background-color: var(--baseSecondary);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            a {
                text-decoration: none;
                color: var(--accentColor);
                letter-spacing: 0.3rem;
                &:hover {
                    border-bottom: 1px solid var(--accentColor);
                }
            }
        }
    }
    .social_media {
        display: none;
    }
    .scrollbar {
        display: none;
    }    
}
main {
    background-color: white;
    width: 100%;
    .sidebar {
        display: none;
    }
    .sidebarplaceholder {
        display: none;
    }
    .selectMenu {
        height: 50px;
        width: 100%;
        background-color: var(--primaryGray);
        overflow: hidden;
        transition: all .5s ease-out;
        .selectMenuHeading {
            cursor: pointer;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(exported/dropdownIcon.svg);
            background-repeat: no-repeat;
            background-position: right 20px top 50%;
            border-bottom: .5px solid var(--secondaryGray);
        }
        ul {
            width: 100%;
            list-style: none;
            li {
                height: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:not(.selected):hover {
                    background-color: var(--secondaryGray);
                    color: white;
                }
            }
            .selected {
                font-weight: bold;
            }
        }
    }
    .websites {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50px;        
        .item {
            padding-top: 20px;
            text-align: center;
            transform: translateY(-40px);
            opacity: 0;
            animation: itemsFadeIn 1s ease-out forwards;
            .image {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                }
            }
            .desc {
                h1 {
                    font-size: 1.3rem;
                    padding: 1rem;
                    color: var(--secondaryGray);
                    letter-spacing: .2rem;
                }
                p {
                    font-size: .8rem;
                    letter-spacing: .2rem;;
                }
                .button {
                    border-radius: 25px;
                    background-color: var(--primaryGray);
                    width: 200px;
                    height: 50px;
                    margin: 0 auto;
                    margin-top: 30px;                    
                    a {
                        text-decoration: none;
                        color: var(--secondaryGray);
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .component {
        display: none;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
        h1 {
            font-size: 1.3rem;
            text-align: center;
            margin-top: 20px;
            letter-spacing: .4rem;
        }
        
        .component_holder {
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                width: 20px;
                z-index: 100;
            }
            .component_main {
                pointer-events: none;
                flex: 1;
                .component_slider {
                    width: 200%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr;
                    place-items: center;
                    transition: all .5s ease-out;
                    pointer-events: none;
                    // transform: translateX(-50%);
                    .tj-container {
                        pointer-events: all;
                    }
                    .tjInvertedMask {
                        pointer-events: all;
                    }
                }
                .test-container {
                    height: 100%;
                    width: 50%;
                    background-color: red;
                }
            }
        }
        .desc {
            letter-spacing: .2rem;
            color: var(--secondaryGray);
            text-align: center;
        }
        .download {
            height: 40px;
            width: 150px;
            background-color: var(--baseColor);
            color: white;            
            font-size: 0.9rem;
            font-weight: bold;
            margin: 0 auto;
            margin-top: 20px;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-decoration: none;

            }
        }
    }
    .standalone {
        display: none;
    }
}

@media all and (orientation: landscape) and (min-width: 1000px)
{
    html {
        font-size: 1vw;
    }
    body {
        overflow: hidden;
    }
    .circle_animation {
        display: block;
        height: 31.6vh;
        position: absolute;
        transform: translate(-50%, -50%);
        animation: rotateAnimation 5s linear infinite;
        img {
            height: 100%;
        }
        
    }
    .hero {
        height: 46.3vh;
        width: 70vw;
        position: absolute;
        left: 7.5vw;
        top: 6.5vh;
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 200%;
            background-color: var(--accentColor);
            width: 2px;
        }
        &::after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0px;
            left: 20%;
            height: 2px;
            background-color: var(--accentColor);
            width: 100%;
        }
        .hero_logo {
            position: absolute;
            right: 1vw;
            top: 0vw;
            height: 200px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--darkGreen);
            img {
                height: 70%;
                width: 70%;
                margin: 0;
                padding: 0;
                transform: translate(-10px, 0px)
            }
        }
        .my_name {
            display: block;
            position: absolute;
            left: 43px;
            top: 43px;
            p {
                font-size: 8rem;
                line-height: 6rem;
                span {
                    font-size: 12rem;
                }
            }
            p:nth-child(1) {
                -webkit-text-stroke: 2px var(--accentColor);
            }
        }
        .namemove {
            transform: all .5s ease-out;
        }
        .my_title {
            display: block;
            position: absolute;
            right: 20px;
            bottom: 20px;
        }        
    }
    aside {
        position: absolute;
        width: 250px;
        right: 4.5vw;
        top: 16.2vh;        
        nav {
            ul {
                background-color: transparent;
                flex-direction: column;
                align-items: flex-end;
                line-height: 50px;
                li::after {
                    content: ' ';
                    margin-left: auto;
                    display: block;
                    transform: translate(-2px, -10px);
                    transform-origin: 100% 100%;
                    height: 2px;
                    width: 0%;
                    background-color: var(--accentColor);
                    transition: all .1s linear;
                }
                li:hover::after {
                    width: 100%;                    
                }
                a:hover {
                    border-bottom: none;
                }
            }
        }
        .social_media {
            display: block;
            position: absolute;
            right: 1vw;
            top: 43vh;
            a {
                display: block;
                img {
                    height: 6vh;
                    padding: 5px;
                    opacity: 0;
                    transform: translateY(50px) scale(0.5);
                    cursor: pointer;
                }
            }
            
            .facebook img {
                animation: popUp 1s ease-out forwards;
            }
            .linkedin img {
                animation: popUp 1s ease-out .4s forwards;
            }
            .twitter img {
                animation: popUp 1s ease-out .8s forwards;
            }
        }
        
    }
    main {
        position: absolute;        
        left: 9vw;
        top: 67vh;
        width: 66%;
        display: flex;
        box-shadow: 50px 50px 50px -10px black;
        transition: all .5s ease-out;
        height: 90vh;
        // &:hover {
        //     top: 8.7vh;
        //     width: 70%;
        //     z-index: 100;


        // }
        nav {
            width: 24%;
            display: flex;
            background-color: var(--primaryGray);
        }
        .sidebarplaceholder {
            display: block;
            padding-top: 96px;
            font-weight: bold;
            margin: 0 auto;
            letter-spacing: .2rem;
        }
        .selectMenu {
            display: none;
        }
        .websites {
            justify-content: flex-start;
            width: 60%;
            .item {
                display: flex;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            .item:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

    }        
}
@keyframes abtahiFadeIn
{
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes tajwarFadeIn
{
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes itemsFadeIn
{
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes rotateAnimation
{
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translateY(10px) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);;
    }
}