:root {
  --baseColor: #050B27;
  --accentColor: #FF9E72;
  --baseSecondary: #01051C;
  --primaryGray: #E4E4E4;
  --secondaryGray: #444444;
  --darkGreen: #121605;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--baseColor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.circle_animation {
  display: none;
}

.hero_heading {
  opacity: 1;
  width: 100%;
}

.hero_heading img {
  margin-left: 50%;
  margin-top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero_heading .my_name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_heading .my_name p {
  font-size: 2.2rem;
  font-weight: bold;
}

.hero_heading .my_name p:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px var(--accentColor);
  -webkit-animation: abtahiFadeIn 1s ease-out forwards;
          animation: abtahiFadeIn 1s ease-out forwards;
}

.hero_heading .my_name p:nth-child(2) {
  color: white;
  -webkit-animation: tajwarFadeIn 1s ease-out forwards;
          animation: tajwarFadeIn 1s ease-out forwards;
}

.hero_heading p:nth-child(3) {
  color: var(--accentColor);
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: .7rem;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-animation: abtahiFadeIn 1s ease-out 1s forwards;
          animation: abtahiFadeIn 1s ease-out 1s forwards;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
}

aside nav {
  margin-top: 20px;
}

aside nav ul {
  height: 62px;
  width: 100%;
  background-color: var(--baseSecondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

aside nav ul a {
  text-decoration: none;
  color: var(--accentColor);
  letter-spacing: 0.3rem;
}

aside nav ul a:hover {
  border-bottom: 1px solid var(--accentColor);
}

aside .social_media {
  display: none;
}

aside .scrollbar {
  display: none;
}

main {
  background-color: white;
  width: 100%;
}

main .sidebar {
  display: none;
}

main .sidebarplaceholder {
  display: none;
}

main .selectMenu {
  height: 50px;
  width: 100%;
  background-color: var(--primaryGray);
  overflow: hidden;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main .selectMenu .selectMenuHeading {
  cursor: pointer;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(exported/dropdownIcon.svg);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  border-bottom: 0.5px solid var(--secondaryGray);
}

main .selectMenu ul {
  width: 100%;
  list-style: none;
}

main .selectMenu ul li {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .selectMenu ul li:not(.selected):hover {
  background-color: var(--secondaryGray);
  color: white;
}

main .selectMenu ul .selected {
  font-weight: bold;
}

main .websites {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

main .websites .item {
  padding-top: 20px;
  text-align: center;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  opacity: 0;
  -webkit-animation: itemsFadeIn 1s ease-out forwards;
          animation: itemsFadeIn 1s ease-out forwards;
}

main .websites .item .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .websites .item .image img {
  width: 100%;
}

main .websites .item .desc h1 {
  font-size: 1.3rem;
  padding: 1rem;
  color: var(--secondaryGray);
  letter-spacing: .2rem;
}

main .websites .item .desc p {
  font-size: .8rem;
  letter-spacing: .2rem;
}

main .websites .item .desc .button {
  border-radius: 25px;
  background-color: var(--primaryGray);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
}

main .websites .item .desc .button a {
  text-decoration: none;
  color: var(--secondaryGray);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .component {
  display: none;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

main .component h1 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
  letter-spacing: .4rem;
}

main .component .component_holder {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main .component .component_holder img {
  width: 20px;
  z-index: 100;
}

main .component .component_holder .component_main {
  pointer-events: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .component .component_holder .component_main .component_slider {
  width: 200%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  pointer-events: none;
}

main .component .component_holder .component_main .component_slider .tj-container {
  pointer-events: all;
}

main .component .component_holder .component_main .component_slider .tjInvertedMask {
  pointer-events: all;
}

main .component .component_holder .component_main .test-container {
  height: 100%;
  width: 50%;
  background-color: red;
}

main .component .desc {
  letter-spacing: .2rem;
  color: var(--secondaryGray);
  text-align: center;
}

main .component .download {
  height: 40px;
  width: 150px;
  background-color: var(--baseColor);
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 20px;
}

main .component .download a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

main .standalone {
  display: none;
}

@media all and (orientation: landscape) and (min-width: 1000px) {
  html {
    font-size: 1vw;
  }
  body {
    overflow: hidden;
  }
  .circle_animation {
    display: block;
    height: 31.6vh;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: rotateAnimation 5s linear infinite;
            animation: rotateAnimation 5s linear infinite;
  }
  .circle_animation img {
    height: 100%;
  }
  .hero {
    height: 46.3vh;
    width: 70vw;
    position: absolute;
    left: 7.5vw;
    top: 6.5vh;
  }
  .hero::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200%;
    background-color: var(--accentColor);
    width: 2px;
  }
  .hero::after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 20%;
    height: 2px;
    background-color: var(--accentColor);
    width: 100%;
  }
  .hero .hero_logo {
    position: absolute;
    right: 1vw;
    top: 0vw;
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    background-color: var(--darkGreen);
  }
  .hero .hero_logo img {
    height: 70%;
    width: 70%;
    margin: 0;
    padding: 0;
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  .hero .my_name {
    display: block;
    position: absolute;
    left: 43px;
    top: 43px;
  }
  .hero .my_name p {
    font-size: 8rem;
    line-height: 6rem;
  }
  .hero .my_name p span {
    font-size: 12rem;
  }
  .hero .my_name p:nth-child(1) {
    -webkit-text-stroke: 2px var(--accentColor);
  }
  .hero .namemove {
    -webkit-transform: all .5s ease-out;
            transform: all .5s ease-out;
  }
  .hero .my_title {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  aside {
    position: absolute;
    width: 250px;
    right: 4.5vw;
    top: 16.2vh;
  }
  aside nav ul {
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 50px;
  }
  aside nav ul li::after {
    content: ' ';
    margin-left: auto;
    display: block;
    -webkit-transform: translate(-2px, -10px);
            transform: translate(-2px, -10px);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    height: 2px;
    width: 0%;
    background-color: var(--accentColor);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  aside nav ul li:hover::after {
    width: 100%;
  }
  aside nav ul a:hover {
    border-bottom: none;
  }
  aside .social_media {
    display: block;
    position: absolute;
    right: 1vw;
    top: 43vh;
  }
  aside .social_media a {
    display: block;
  }
  aside .social_media a img {
    height: 6vh;
    padding: 5px;
    opacity: 0;
    -webkit-transform: translateY(50px) scale(0.5);
            transform: translateY(50px) scale(0.5);
    cursor: pointer;
  }
  aside .social_media .facebook img {
    -webkit-animation: popUp 1s ease-out forwards;
            animation: popUp 1s ease-out forwards;
  }
  aside .social_media .linkedin img {
    -webkit-animation: popUp 1s ease-out .4s forwards;
            animation: popUp 1s ease-out .4s forwards;
  }
  aside .social_media .twitter img {
    -webkit-animation: popUp 1s ease-out .8s forwards;
            animation: popUp 1s ease-out .8s forwards;
  }
  main {
    position: absolute;
    left: 9vw;
    top: 67vh;
    width: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 50px 50px 50px -10px black;
            box-shadow: 50px 50px 50px -10px black;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    height: 90vh;
  }
  main nav {
    width: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--primaryGray);
  }
  main .sidebarplaceholder {
    display: block;
    padding-top: 96px;
    font-weight: bold;
    margin: 0 auto;
    letter-spacing: .2rem;
  }
  main .selectMenu {
    display: none;
  }
  main .websites {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 60%;
  }
  main .websites .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  main .websites .item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@-webkit-keyframes abtahiFadeIn {
  from {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes abtahiFadeIn {
  from {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes tajwarFadeIn {
  from {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes tajwarFadeIn {
  from {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes itemsFadeIn {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes itemsFadeIn {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rotateAnimation {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateAnimation {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes popUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px) scale(0.5);
            transform: translateY(50px) scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px) scale(1.2);
            transform: translateY(10px) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px) scale(0.5);
            transform: translateY(50px) scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px) scale(1.2);
            transform: translateY(10px) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}
/*# sourceMappingURL=style.css.map */